In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime as dt

In [2]:
file_path = "input_data/temp_min_max_CFSR/t470122.txt"


df = pd.read_csv(file_path, encoding="windows-1250", names=["MAX", "MIN"])

start_date=pd.to_datetime(str(int(df.loc[0][0])))

dates = pd.date_range(start_date, periods=len(df)-1, freq="D")

df_temps = df.iloc[1:].set_index(dates)

df_temps

              MAX     MIN
1991-01-01 -1.458  -6.839
1991-01-02  0.290 -19.258
1991-01-03  0.529  -2.325
1991-01-04 -0.524  -4.830
1991-01-05 -3.213 -27.995
...           ...     ...
2013-12-27 -0.570  -8.856
2013-12-28 -0.887  -6.301
2013-12-29 -3.245  -8.318
2013-12-30 -5.449 -25.776
2013-12-31 -4.476 -28.002

[8401 rows x 2 columns]

In [3]:
def CFSR_temp(file_path,num_files=1, num=0, start_date=None, end_date=None):
    
    df = pd.read_csv(file_path, encoding="windows-1250", names=["t_MAX", "t_MIN"])
    date = pd.to_datetime(str(int(df.loc[0][0])))
    dates = pd.date_range(date, periods=len(df)-1, freq="D")
    data = df.iloc[1:].set_index(dates)
    if start_date is not None:
        data = data[(data.index >= start_date)] # start and stop date
        return data
    elif end_date is not None:
        data = data[(data.index <= end_date)] # start and stop date
        return data
    elif start_date is not None and end_date is not None:
        data = data[(data.index >= start_date) & (data.index <= end_date)] # start and stop date
        return data
    else:
        return data

In [4]:
CFSR_temp("input_data/temp_min_max_CFSR/t470122.txt")

            t_MAX   t_MIN
1991-01-01 -1.458  -6.839
1991-01-02  0.290 -19.258
1991-01-03  0.529  -2.325
1991-01-04 -0.524  -4.830
1991-01-05 -3.213 -27.995
...           ...     ...
2013-12-27 -0.570  -8.856
2013-12-28 -0.887  -6.301
2013-12-29 -3.245  -8.318
2013-12-30 -5.449 -25.776
2013-12-31 -4.476 -28.002

[8401 rows x 2 columns]

In [5]:
def CFSR_else(file_path, num_files=1, num=0, start_date=None, end_date=None):
    if any(char.isdigit() for char in file_path):
        st_name = file_path[1:-4]
        meteo_measurement = file_path[0]
        df = pd.read_csv(file_path, encoding="windows-1250", names=[st_name+"_"+ meteo_measurement])
        date = pd.to_datetime(str(int(df.loc[0][0])))
        dates = pd.date_range(date, periods=len(df)-1, freq="D")
        data = df.iloc[1:].set_index(dates)
        if start_date is not None and end_date is not None:
            data = data[(data.index >= start_date) & (data.index <= end_date)] # start and stop date
            return data
        elif start_date is not None:
            data = data[(data.index >= start_date)] # start and stop date
            return data
        elif end_date is not None:
            data = data[(data.index <= end_date)] # start and stop date
            return data
        else:
            return data

In [7]:
CFSR_else("input_data/wind_CFSR/w473106.txt")

            nput_data/wind_CFSR/w473106_i
1991-01-01                          4.516
1991-01-02                          4.289
1991-01-03                          4.190
1991-01-04                          3.435
1991-01-05                          3.734
...                                   ...
2013-12-27                          2.406
2013-12-28                          3.825
2013-12-29                          1.266
2013-12-30                          1.766
2013-12-31                          3.230

[8401 rows x 1 columns]