In [1]:
import pandas as pd

In [84]:
file_path = "input_data\Drava\\rain_ITA\Klima_LT_N_daily_41000MS_Toblach-Dobbiaco.xls"
df = pd.read_excel(file_path, usecols=([1,2,3,4]), )
st_name = df.iloc[3,1].split("-")[0]
df = df.iloc[12:, :]
df = df.rename(columns=lambda x: x.strip())
df = df.rename({"Unnamed: 1":"Date", 
                "AUTONOME PROVINZ BOZEN":"Prec_"+st_name, 
                "PROVINCIA AUTONOMA DI BOLZANO":"MAX_T_"+st_name,
                "Unnamed: 4":"MIN_T_"+st_name}, axis=1)
df = df.set_index("Date")

df = df[::2]

df.head(25)

           Prec_Toblach  MAX_T_Toblach  MIN_T_Toblach
Date
1981-01-01           0,0            1,0          -10,0
1981-01-03           0,0            2,0           -4,0
1981-01-05           0,0           -1,0           -4,0
1981-01-07           0,0           -4,0           -8,0
1981-01-09           0,0           -7,0          -24,0
1981-01-11           0,0           -5,0          -14,0
1981-01-13           0,0           -4,0          -12,0
1981-01-15           0,0           -4,0          -13,0
1981-01-17           0,0           -4,0          -16,0
1981-01-19           0,0           -3,0          -10,0
1981-01-21           0,0           -4,0          -10,0
1981-01-23           0,0           -3,0          -18,0
1981-01-25           0,0            0,0          -15,0
1981-01-27           0,0            1,0          -16,0
1981-01-29           0,0            0,0          -20,0
1981-01-31           0,0            2,0          -14,0
1981-02-02           0,0            6,0          -10,0
1981-02-04           0,0            5,0           -5,0
1981-02-06           0,0            0,0           -8,0
1981-02-08           0,0            5,0           -7,0
1981-02-10           0,0            8,0           -4,0
1981-02-12           0,0            1,0          -16,0
1981-02-14           0,0           -1,0          -19,0
1981-02-16           0,0            3,0          -15,0
1981-02-18           0,0           -2,0          -18,0