In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime as dt

In [2]:
df = pd.read_csv("input_data\ZAMG_data\daten_20000101_20151231.csv", sep=";")

stations = df["istnr"].unique()
data = pd.DataFrame()
for station in stations:
    data_dict = {station:df[df["istnr"] == station].drop("istnr", axis=1).set_index("datum")}
    new.index = pd.to_datetime(new.index)
 
    
    #data[station] = data.append(new)
    break
data_dict

NameError: name 'new' is not defined

In [3]:
df = pd.read_csv("input_data\ZAMG_data\daten_20000101_20151231.csv", sep=";")
df["datum"] = pd.to_datetime(df["datum"])

df1 = df.set_index("datum").pivot(columns="istnr")
df1 = df1.iloc[0:6]

df1

           t [degC]                                                        \
istnr         6300  6305  6430  9016  9019  9105  9110  9210  9215  9406
datum
2000-01-01     -1.0  -0.4   NaN  -2.4   NaN   NaN   NaN  -3.1  -5.8   NaN
2000-01-02      7.9   7.1   NaN   3.4   NaN   NaN   NaN   3.1   5.0   NaN
2000-01-03      4.9   6.0   NaN   4.8   NaN   NaN   NaN   3.6  -0.2   NaN
2000-01-04      4.9   5.5   NaN   5.7   NaN   NaN   NaN   3.5  -1.6   NaN
2000-01-05     17.1  17.6   NaN  16.2   NaN   NaN   NaN  16.1   8.5   NaN
2000-01-06     14.2  14.1   NaN  15.4   NaN   NaN   NaN  14.0   7.9   NaN

            ... strahl [J/cm**2]                                            \
istnr       ...            20105 20123 20202 20212 20220 20270 20411 20412
datum       ...
2000-01-01  ...              631   610   NaN   572   439   593   NaN   NaN
2000-01-02  ...              982   725   NaN   682   721   945   NaN   NaN
2000-01-03  ...              499   672   NaN   822   859   839   NaN   NaN
2000-01-04  ...              586   447   NaN   533   463   525   NaN   NaN
2000-01-05  ...             1208  1773   NaN  1492  1789   ---   NaN   NaN
2000-01-06  ...             3193  2987   NaN  2975  2927  3083   NaN   NaN


istnr      21101 21300
datum
2000-01-01   NaN   ---
2000-01-02   NaN   ---
2000-01-03   NaN   ---
2000-01-04   NaN   ---
2000-01-05   NaN   ---
2000-01-06   NaN   ---

[6 rows x 285 columns]